{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
<h1>Liste des souvenirs</h1>


<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Date</th>
            <th>Album</th>
            <th> &nbsp;</th>
        </tr>
    </thead>
    <tbody>

         {% for souvenir in souvenirs %}

            <tr>
                <td>{{souvenir.id}}</td>
                <td>{{souvenir.title}}</td> 
                <td>{{ souvenir.date ? souvenir.date|date('Y-m-d H:i:s') : '' }}</td>  
                <td>{{souvenir.album}}</td>  
                <td><a href="{{ path('souvenir_show', {'id': souvenir.id}) }}">show</a></td>

            </tr>  
         {% endfor %} {# souvenirs #}
    </tbody>
</table>
{% endblock %} {# main #}