{% extends 'base.html.twig' %}

{% block title %}Souvenirs{% endblock %}

  {% block main %}
      <h1>" {{ souvenir.title }} "</h1>

     <table class="table table-light">
          <tbody>
              <tr>
                  <th>Id</th>
                  <td>{{ souvenir.id }}</td>
              </tr>
              <tr>
                  <th>Titre</th>
                  <td>{{ souvenir.title }}</td>
              </tr>     
                <tr>
                  <th>Date</th>
                  <td>{{ souvenir.date ? souvenir.date|date('Y-m-d H:i:s') : '' }}</td>
              </tr>
                <tr>
                  <th>Album</th>
                  <td>{{ souvenir.album }}</td>
              </tr>
                      


          </tbody>
      </table>

      <a href="{{ path('souvenirs_list') }}">back to list</a>

 {% endblock %} {# main #}