{% extends 'base.html.twig' %}

{% block title %}Souvenirs{% endblock %}

  {% block main %}
      <h1>" {{ souvenir.title }} "</h1>

     <table class="table table-light">
          <tbody>
              <tr>
                  <th>Id</th>
                  <td>{{ souvenir.id }}</td>
              </tr>
              <tr>
                  <th>Titre</th>
                  <td>{{ souvenir.title }}</td>
              </tr>     
                <tr>
                  <th>Date</th>
                  <td>{{ souvenir.date ? souvenir.date|date('Y-m-d H:i:s') : '' }}</td>
              </tr>

              <tr>
                <th>Photo</th>
                <td><img src="{{ vich_uploader_asset(souvenir, 'imageFile') }}" width="300"/></td>
            </tr>

                <tr>
                  <th>Album</th>
                  <td>{{ souvenir.album }}</td>
              </tr>

                <th>Contextes</th>
                <td> {{ souvenir.contexts|join(', ') }} </td>
                      

          </tbody>
      </table>

      <table class="table">
        {% if is_granted('ROLE_USER') %}
          <a href="{{ path('app_souvenir_edit', {'id': souvenir.id}) }}" class = "btn btn-secondary btn-sm" role="button">Editer ce souvenir</a>
        {% endif %}

        <table class="table">
        <a href="{{ path('app_souvenir_index') }}" class = "btn btn-dark btn-sm" role="button">Retour à la liste</a>
        &nbsp

        {% if is_granted('ROLE_ADMIN') %}
          {{ include('souvenir/_delete_form.html.twig') }}
        {% endif %}
        </table>


 {% endblock %} {# main #}



