{% extends 'base.html.twig' %}

{% block title %}Liste des tableaux{% endblock %}

{% block main %}
    <h1>Liste des tableaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Créateur</th>
                <th>Description</th>
                <th>Publie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tableau in tableaus %}
            <tr>
                <td>{{ tableau.id }}</td>
                <td>{{ tableau.createur }}</td>
                <td>{{ tableau.description }}</td>
                <td>{{ tableau.publie ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-outline-dark btn-sm " href="{{ path('app_tableau_show', {'id': tableau.id}) }}">Voir ce tableau</a>
                 </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun tableau</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
