{% extends 'base.html.twig' %}

{#Page particulière d'affichage des souvenirs à partir d'un tableau #}

{% block title %}Souvenirs{% endblock %}

  {% block main %}
      <h1>" {{ souv.title }} "</h1>

     <table class="table table-light">
          <tbody>
              <tr>
                  <th>Id</th>
                  <td>{{ souv.id }}</td>
              </tr>
              <tr>
                  <th>Titre</th>
                  <td>{{ souv.title }}</td>
              </tr>     
                <tr>
                  <th>Date</th>
                  <td>{{ souv.date ? souv.date|date('Y-m-d H:i:s') : '' }}</td>
              </tr>

              {# Rem : On affiche pas l'album auquel appartient le souvenir dans le tableau #}
              
              <tr>
                <th>Contextes</th>
                <td> {{ souv.contexts|join(', ') }} </td>
              </tr>


          </tbody>
      </table>

      <a href="{{ path('app_tableau_show', { 'id': tableau.id}) }}" class = "btn btn-dark btn-sm" role="button">Retour au tableau</a>

 {% endblock %} {# main #}