{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

  {% block main %}
      <h1>Bienvenue dans : {{ album.name }} (id {{ album.id }} ) </h1> 

         {% dump album %}


      <table class="table table-dark">
          <tbody>
              <tr>
                  <th>Id</th>
                  <td>{{ album.id }}</td>
              </tr>
              <tr>
                  <th>Album</th>
                  <td>{{ album.name }}</td>
              </tr>    

              <tr>
                   <th>Souvenirs</th>
                    {% for souv in album.souvenir %}
                        <td>{{ souv }}</td>
                    {% endfor %} {# souvenirs #}
              </tr>  


          </tbody>
      </table>

      <a href="{{ path('albums_list') }}">back to list</a>

  {% endblock %} {# main #}
