{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

  {% block main %}
      <h1>Bienvenue dans : {{ album.name }} </h1> 

         {% dump album %}


      <table class="table table-light">
      <thead>
        <tr>
            <th>Souvenirs</th>
            <th> &nbsp;</th>

        </tr>
    </thead>
    <tbody>    
                   
         {% for souv in album.souvenir %}
         <tr>
                <td>{{ souv }}</td>
                <td> <a class="btn btn-outline-dark btn-sm " href="{{ path('app_souvenir_show', {'id': souv.id}) }}">Voir ce souvenir</a></td>
         </tr>
         {% endfor %} {# souvenirs #}

          </tbody>
      </table>

      <a href="{{ path('app_album_index') }}">back to list</a>

      <a href="{{ path('app_album_edit', {'id': album.id}) }}">edit</a>

      {{ include('album/_delete_form.html.twig') }}


  {% endblock %} {# main #}


