<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="{{ asset('css/styles.css','startbootstrap') }}" rel="stylesheet">
        {% endblock %} {# stylesheets #}


    </head>

<body>

    
        {% block menu %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{ path('home') }}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link" href="{{ path('apropos') }}">À propos</a></li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Identification utilisateur</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if app.user %}
                                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{{ path('app_login') }}">Login</a></li>
                                {% endif %}
                                {#<li><a class="dropdown-item" href="{{ path('app_register') }}">Register</a></li>#}
                            </ul>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                
                                    <li><a class="dropdown-item" href="{{ path('app_member_index') }}">Membres</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a class="dropdown-item" href="{{ path('app_album_index') }}">Albums</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_souvenir_index') }}">Souvenirs</a></li>
                                {%endif%}
                                <li><a class="dropdown-item" href="{{ path('app_tableau_index') }}">Tableaux</a></li>
                            
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Collectionneur de souvenirs</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Plongez-vous dans des milliers de souvenirs !</p>
                </div>
            </div>
        </header>


        {% endblock %}{# menu #}



    {% block body %}

    
    <div class="container body-container">

        {% block alerts %}
        {% for type, messages in app.session.flashBag.all %}
          {% for message in messages %}
              {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
              {%if type == 'message'%} {% set type = 'info' %} {%endif%}
              {# Bootstrap alert, see http://getbootstrap.com/components/#alerts #}
              <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                  <button type="btn-dark btn-sm" class="close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Fermer</span>
                  </button>
                  <p>{{ message|raw }}</p>
              </div>
          {% endfor %}
        {% endfor %}
      {% endblock %} {# alerts #}

      {% block main %}

      {% endblock %} {# main #}

    </div> <!-- /.body-container -->


    {% block footer %}
        <footer class="text-center text-lg-start bg-light text-muted">
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                 FOOTER
            </div>
         </footer>


    {% block javascripts %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ asset('js/scripts.js','startbootstrap') }}"></script>
    {% endblock %} {# javascripts #}


    {% endblock %}{# footer #}

    {% endblock %} {# body #}


    </body>
    
</html>